.wrap {
  margin: 180px auto 0;
  max-width: 480px;
}

.title {
  text-align: center;
}

.buttonWrap {
  display: flex;
  justify-content: center;
}

.buttonGroup {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.link {
  color: #4C4CFF;
  text-decoration: none;
}