.section {
  height: calc(100vh - 128px); /* 88 = header and 40 = bottom offset */
  display: flex;
  flex-direction: column;
}

.constructorBody {
  display: flex;
  flex-direction: column;
  height: calc(100% - 104px - 100px); /* 104 = footer and 100 = top offset */
}

.constructorList {
  margin: 16px 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-y: scroll;
  padding-left: 35px;
  margin-left: -35px;
}

.constructorItem {
  display: flex;
  align-items: center;
  position: relative;
}

.constructorIngredient {
  width: 100%;
  flex-grow: 0;
}

.constructorIngredientIcon {
  position: absolute;
  top: 50%;
  right: 100%;
  transform: translate(-12px, -50%)
}

.constructorFooter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.empty {
 display: flex; 
 align-items: center;
 justify-content: center;
 border: 1px solid #ffffff80;
}